html, body{
    margin: 0; padding: 0;
}

*{border: none; outline: none; margin: 0; padding: 0;}

body{ background: #0079A1;}

/* //////////////////////////////// */
/* GAME COMMANDS DESIGN */
.gameCommands{
    position: absolute;
    z-index: 100;
    background-color: #fff;
}

.btnChangePos{ 
    width: 40px; 
    height: 40px; 
    cursor: pointer; 
    background-color: #333; 
    color: white;}

/* //////////////////////////////// */
/* TABLE DESIGN */
#boards > div{ width: 810px; display: inline-block; margin: 1rem;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);

}
#boards .cell{ 
    width: 98px; height: 98px; 
    position: relative;
    border: 1px solid rgba(112,174,219,0.5); float: left;}

#boards .cell:hover,
#boards .cell.light{ 
    border-color: #fff !important;
    -webkit-box-shadow: 0 0 8px 8px rgba(255,255,255,0.7);
box-shadow: 0 0 8px 8px rgba(255,255,255,0.7);}

#boards .cell span{ color: rgba(255,255,255,0.6); position: absolute; left: 0; top: 0;
    font-weight: bold; font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 1.3rem;
padding: 16px;}

@keyframes floating {
    0% {margin-top: 0px;}
    50% { margin-top: -3px;}
    100% {margin-top: 0px;}
}
#boards .cell.boat:before, 
#boards .cell.ship:before,
#boards .cell.sub:before,
#boards .cell.carrier:before {
    content: "";
    display: block;
    transform: translateX(-125px) rotateX(-45deg) rotateY(30deg) rotateZ(60deg);
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
    z-index: 100;
}

#boards .cell.boat:before{
    width: 100px; height: 100px;
    transform: translateX(0px) rotateX(-45deg) rotateY(30deg) rotateZ(60deg);
    background: url(images/ships/boat_h.svg) center center no-repeat;
}
#boards .cell.vertical.boat:before{
    width: 100px; height: 100px;
    transform: translateX(0px) rotateX(-45deg) rotateY(30deg) rotateZ(60deg);
    background: url(images/ships/boat.svg) center center no-repeat;
}

#boards .cell.ship:before{
    height: 141px; width: 200px;
    transform: translateX(10px) translateY(-30px) rotateX(-45deg) rotateY(30deg) rotateZ(60deg);
    background: url(images/ships/ship_h.svg) center center no-repeat;
}
#boards .cell.sub:before{
    height: 195px; width: 300px; 
    transform: translateX(-0px) translateY(-45px) rotateX(-45deg) rotateY(30deg) rotateZ(60deg);
    background: url(images/ships/sub_h.svg) center center no-repeat;
}

#boards .cell.carrier:before{
    width: 400px; height: 250px;
    transform: translateX(10px) translateY(-85px) rotateX(-45deg) rotateY(30deg) rotateZ(60deg);
    background: url(images/ships/carrier_h.svg) center center no-repeat;
}



.cell.shipped{ }



.cell.light.cell.shipped{ background-color: red !important;} 

.cell.bombed{ background-color: rgb(102, 9, 9); border-color: red;}

.cell.shipped.bombed{ background-color: black;}



/*/////////////////////////// */
/* MSG */
.msg{ position: absolute;
    display: none;
    width: 600px;
    bottom: 0;
    left: 50%;
    z-index: 1;
    padding: 8px;
    background: #ccc;
    border-radius: 8px;
    margin: 0 0 1rem -300px
    }
.msg.visible{ display: block;}