

#boards > div{ width: 400px; display: inline-block; margin: 1rem;}

.cell{ width: 48px; height: 48px; border: 1px solid #333; float: left;}
.cell:hover{ background-color: #ccc;}

.cell.shipped{ background-color: green;}

.cell.light{ border-color: rgba(13, 167, 64, 0.2);
    background: purple;
    -webkit-box-shadow: 0 0 4px 4px rgba(13, 167, 64, 0.2);
    box-shadow: 0 0 4px 4px rgba(13, 167, 64, 0.2);}

.cell.light.cell.shipped{ background-color: red !important;}    

.btnChangePos{ width: 40px; height: 40px; cursor: pointer; background-color: #333; color: white;}

/*/////////////////////////// */
/* MSG */
.msg{ position: absolute;
    display: none;
    width: 600px;
    bottom: 0;
    left: 50%;
    z-index: 1;
    padding: 8px;
    background: #ccc;
    border-radius: 8px;
    margin: 0 0 1rem -300px
    }
.msg.visible{ display: block;}